<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todo App - Fastapi</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        <script>
            function openUploadWindow(todoId) {
                var myWindow = window.open("", "UploadWindow", "width=500,height=300");
                myWindow.document.write(`
                    <p>파일 업로드:</p>
                    <form action="/upload/${todoId}" method="post" enctype="multipart/form-data">
                        <input type="file" name="file"><br><br>
                        <input type="submit" value="Upload">
                    </form>
                `);
            }
        </script>
    </head>
    <body>
        <div style="margin-top: 50px;" class="ui container">
            <h1 class="ui center aligned header">Fastapi ToDo App</h1>

            <form class="ui form" action="/add" method="post">
                <div class="field">
                    <label>Todo Title</label>
                    <input type="text" name="title" placeholder="Enter ToDo task...">
                    <br>
                    <input type="date" name="date" placeholder="choice date">
                </div>
                <button class="ui blue button" type="submit">Add</button>
            </form>

            <hr>

            {% for todo in todo_list %} 
            <div class="ui segment">
                <p class="ui big header">{{ todo.id }} | {{ todo.title }} | {{todo.date}}</p>

                {% if todo.complete == False %}
                <span class="ui gray label">Not Complete</span>
                {% else %}
                <span class="ui green label">Complete</span>
                {% endif %}

                <a class="ui blue button" href="/update/{{ todo.id }}">Update</a>
                <a class="ui red button" href="/delete/{{ todo.id }}">Delete</a>
                <button class="ui purple button" onclick="openUploadWindow('{{todo.id}}')">Upload</button>
                {% if todo.files %}
                    {% for file in todo.files %}
                        <a class="ui purple button" href="/download/{{ file.id }}">Download</a>
                        <a class="ui orange button" href="/files/{{ file.filename }}">Preview</a>
                    {% endfor %}
                {% else %}
                    <span>No files uploaded</span>
                {% endif %}
                <!-- 깃 작업 테스트중-->
            </div>
            {% endfor %}

        </div>


    </body>

</html>